<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>17塔羅占卜</title>
    <!-- 載入外部 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <a href="https://www.instagram.com/tarot.617/" target="_blank">
            <img src="{{ url_for('static', filename='images/logo1.jpg') }}" alt="Logo">
            <h1>tarot.617</h1>
        </a>
    </header>

    <h1>輸入想抽的牌數</h1>
    <input type="number" id="cardCountInput" placeholder="請輸入牌數" min="1" max="78">
    <button id="startBtn">開始抽牌</button>

    <div class="tarot-deck" id="tarotDeck"></div>
    <div class="result-deck" id="resultDeck"></div>

    <!-- 載入外部 JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>